.button {
  background-color: #fff;
  padding: 12px;
  display: inline-block;
  margin-top: 18px;
  text-decoration: none;
  color: #000;
  border: 0;
  cursor: pointer;
  transition: all .2s ease-in-out;
  outline: 0;

  &:hover {
    box-shadow: 4px 4px 6px rgba(0,0,0,0.5);
    transform: scale(1.05);
  }

  &:disabled {
    background-color: #a0a0a0;
    color: #fff;

    &:hover {
      box-shadow: inherit;
      transform: none;
      cursor: default;
    }
  }
}

button {
  @extend .button;
}
